/* Stop back navigation on scroll, html for ff, body for chrome */
html,
body {
  overscroll-behavior-x: contain;
}
* {
  --un-default-border-color: #4c4f4e;
}
.checkerboard {
  background: repeating-conic-gradient(#ddd 0% 25%, #aaa 25% 50%);
  background-size: 4rem 4rem;
  background-position: center;
}
